<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}

<body id="page-top">
    {{- partial "header.html" . -}}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    {{ with site.Data.homepage.main }}
                    <h1 class="mx-auto my-0 text-uppercase">{{ .header.title }}</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">{{ .header.description }}</h2>
                    <a class="btn btn-primary" href="{{ .header.button.url }}">{{ .header.button.text }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </header>
    <!-- Date-->
    {{ with site.Data.homepage.date }}
    <section class="date-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h1 class="text-white mb-4">{{ .date }}</h1>
                    <h4 class="text-white-50">{{ .location }}</h4>
                </div>
            </div>
        </div>
    </section>
    {{ end }}
    <!-- About-->
    {{ with site.Data.homepage.about }}
    <section class="about-section text-center" id="date">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">{{ .title }}</h2>
                    <p class="text-white-50">{{ .desc }}</p>
                    {{ if .button.enable }}
                    <a class="btn btn-primary about-btn" href="{{ .button.url }}">{{ .button.text }}</a>
                    {{ end }}
                </div>
            </div>
            <img class="img-fluid-forced" src="{{ .image }}" alt="..." />
        </div>
    </section>
    {{ end }}
    <!-- Sponsors-->
    {{ with site.Data.homepage.support }}
    <section class="support-section text-center" id="support">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-black mb-4">{{ .title }}</h2>
                    <p class="text-black-50">{{ .support }}</p>
                    <img class="img-fluid-forced" src="{{ .supportlogos }}" alt="..." />
                </div>
            </div>
        </div>
    </section>
    {{ end }}
    <!-- Projects-->
    {{ with site.Data.homepage.event }}
    <section class="projects-section bg-light text-center" id="event">
        <div class="container px-4 px-lg-5">
            <h2 class="text-black mb-4">{{ .title }}</h2>
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ .card1.img }}" alt="..." />
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>{{ .card1.title }}</h4>
                        <p class="text-black-50 mb-0">{{ .card1.text | markdownify }}</p>
                    </div>
                </div>
            </div>
            <!-- asdf -->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">{{ .card3.title }}</h4>
                                <p class="mb-0 text-white-50">{{ .card3.text }}</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">{{ .card2.title }}</h4>
                                <p class="mb-0 text-white-50">{{ .card2.text }}</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project One Row-->
            <!--<div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{{ .card2.img }}" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">{{ .card2.title }}</h4>
                                <p class="mb-0 text-white-50">{{ .card2.text }}</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- Project Two Row-->
            <!--<div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{{ .card3.img }}" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">{{ .card3.title }}</h4>
                                <p class="mb-0 text-white-50">{{ .card3.text }}</p>
                                <hr class="d-none d-lg-block mb-0 me-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </section>
    {{ end }}
    <!-- Contact-->
    <section class="contact-section bg-black" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-3 mb-3 mb-md-0">
                </div>
                <div class="col-md-3 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Location</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-75">{{ site.Params.location }}</div>
                            <div class="small text-black-50">{{ site.Params.street }}</div>
                            <div class="small text-black-50">{{ site.Params.city }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Contact</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-75">{{ site.Params.name }}</div>
                            <div class="small text-black-50">{{ site.Params.affiliation }}</div>
                            <div class="small text-black-50"><a href="mailto:{{ site.Params.email }}">{{
                                    site.Params.email }}</a></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-3 mb-md-0">
                </div>
            </div>
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="{{ site.Params.github }}"><i class="fab fa-github"></i></a>
                <a class="mx-2" href="{{ site.Params.website }}"><i class="fa-solid fa-robot"></i></a>
                <a class="mx-2" href="{{ site.Params.university }}"><i class="fa-solid fa-building-columns"></i></a>
                <a class="mx-2" href="{{ site.Params.fh }}"><i class="fa-solid fa-school"></i></a>
            </div>
        </div>
    </section>
    {{- partial "footer.html" . -}}
</body>

</html>